body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.manual-header {
    background-color: #A62631;
}

.manual-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.manual-logo {
    font-size: 24px;
    font-weight: bold;
}

#header-line {
    height: 1px;
    width: 80%;
    background-color: #000;
}

.manual-nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 15px;
}

.manual-nav-links li {
    padding: 8px 12px;
}

.manual-nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.manual-hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.manual-hamburger span {
    height: 3px;
    width: 35px;
    background: white;
    margin: 4px 0;
    border-radius: 5px;
}

.manual-banner {
    position: relative;
}

.manual-banner-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.manual-banner-text h1,
.manual-banner-text p {
    margin: 0;
}

.manual-banner-text h1 {
    color: #F2C53D;
    font-size: 3.5em;
}

.manual-banner-text p {
    font-size: 1.5em;
}

.manual-animais {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
}

.manual-animais img {
    height: 200px;
}

main {
    padding: 0 5vw; 
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1200px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 94px;
    background: #D9D9D9;
}

.warning {
    padding-top: 20px;
    flex: 1;
}

.social-midias{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#footer-container {
    margin-top: auto;
}

.footer {
    margin: 0 !important;
}

@media (max-width: 425px) {
    .manual-animais {
        display: none;
    }

    #header-line {
        margin-bottom: 1em;
    }

    .manual-nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 115px;
        left: 0;
        padding: 0 0 30px 0;
        background-color: #A62631;
        z-index: 99;
    }

    .manual-nav-links.manual-active {
        display: flex;
    }

    .manual-nav-links li {
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .manual-hamburger {
        display: flex;
        position: absolute;
        left: 1em;
        top: 3em;
    }
}